<div class="col-lg-3 col-sm-6 videoitem">
    <div class="b-video">
        <div class="v-img">
            <a href="/artwork/<%= artwork._id %>/show">
                <img src="<%= artwork.path %>" alt="" />
            </a>
            <div class="time"><%= artwork.category.name %></div>
        </div>
        <div class="v-desc">
            <a href="/artwork/<%= artwork._id %>/show"><%= artwork.title %></a>
            <a href="/artwork/<%= artwork._id %>/?"
        </div>
        <div class="v-views">
            <i class="fa fa-eye"></i> <%= artwork.noViews %> Views 
            <span style="margin-left: 15px"><i class="fa fa-heart"></i> <%= artwork.likes.length %> Likes</span>
        </div>
    </div>
</div>