<!-- similar videos -->
<div class="caption hidden-xs py-3">
    <div class="left">
        <a>Similar Category</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="single-v-footer">
    
    <div class="similar-v single-video video-mobile-02">
        <div class="row">
            <% for(const artwork of similarCategoryArtworks) { %>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="h-video row">
                        <div class="col-sm-12 col-xs-6">
                            <div class="v-img artwork-sm">
                                <a href="/artwork/<%= artwork._id %>/show"><img src="<%=  artwork.path %>" alt=""></a>
                                <div class="time"><%= artwork.category.name %></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-6">
                            <div class="v-desc">
                                <a href="/artwork/<%= artwork._id %>/show"><%= artwork.title %></a>
                            </div>
                            <div class="v-views">
                            <i class="fa fa-eye"></i> <%= artwork.noViews %> Views
                            <span class="v-percent"><i class="fa fa-heart"></i> <%= artwork.likes.length %> Likes</span>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <!-- END similar videos -->
    
</div>