<%- include('../shared/_header.ejs') %>

    <div class="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 v-categories">
            <!-- Popular Channels -->
            <div class="content-block">
              <div class="cb-header">
                <div class="row">
                  <div class="col-lg-10">
                  </div>
                </div>
              </div>
              <div class="cb-content">
                <div class="row">

                  <% for(const category of categories) { %>
                  <!-- 1-6 -->
                  <div class="col-lg-3 col-xs-6 col-sm-3">
                    <div class="b-category">
                      <a href="/artwork/?category=<%= category._id %>"><img src="<%= category.thumbnail %>" alt=""/></a>
                      <a href="/category/<%= category._id %>/show" class="name"><%= category.name %></a>
                      <p class="desc"><%= category.artworks.length %> Artworks</p>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
            <!-- /Popular Channels -->

            
          </div>
        </div>
      </div>
    </div>

    <%- include('../shared/_footer.ejs') %>
  </body>
</html>
