<%- include('../shared/_header.ejs') %>

<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <% if(req.user) { %>
          <!-- Updates from Subscriptions -->
          <div class="content-block">
            <div class="cb-header">
              <div class="row">
                <div class="col-lg-10 col-sm-10 col-xs-10">
                  <ul class="list-inline">
                    <li><a>Updates from Subscriptions</a></li>
                  </ul>
                </div>
                
              </div>
            </div>
            <div class="cb-content avatars">
              <div class="row">
                <% for(const user of followings) { %>
                <div class="col-lg-1 col-sm-2 col-xs-3">
                  <a href="/artist/<%= user.email %>/show" title="<%= user.name %>">
                    <img src="<%= user.avatar || '/images/Avatar.png' %>" alt="<%= user.name %>" />
                  </a>
                </div>
                <% } %>
              </div>
            </div>
          </div>
          <!-- /Updates from Subscriptions -->

          <!--new from subcription -->
          <%- include("./_from_subcription.ejs") %>
          <!-- new from subcription -->
        <% } %>

        <!--Popular artworks -->
        <%- include("./_popular_artworks.ejs") %>
        <!-- Popular artworks -->

        <!-- Popular Artist -->
        <%- include("./_popular_artists.ejs") %>
        <!-- /Popular Artist -->
      </div>
    </div>
  </div>
</div>

<%- include('../shared/_footer.ejs') %>
