<div class="col-lg-3 col-sm-6 videoitem">
    <div class="b-video">
        <div class="v-img">
            <a href="/artwork/<%= artwork._id %>/show">
                <img src="<%= artwork.path %>" alt="" />
            </a>
            <div class="time"><%= artwork.category.name %></div>
        </div>
        <div class="v-desc">

            <a href="/artwork/<%= artwork._id %>/show"><%= artwork.title %></a>

            <div class="pull-right">

                <% if(req.user && artwork.likes.includes(req.user._id)) { %>
                    <a href="/artwork/<%= artwork._id %>/unlike?url=<%= req.url %>" class="active">
                        <i class="fa fa-heart" data-toggle="tooltip" data-placement="top" title="Unlike this post"></i>
                    </a>
                <% } else  { %>
                    <a href="/artwork/<%= artwork._id %>/like?url=<%= req.url %>">
                        <i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="Like this post"></i>
                    </a>
                <% } %>
            </div>
        </div> 
        <div class="v-views">
            <i class="fa fa-eye"></i> <%= artwork.noViews %> Views 
            <span style="margin-left: 15px"><i class="fa fa-heart"></i> <%= artwork.likes.length %> Likes</span>
            <div class="for-sale">
                <div class="d-flex shop">
                    <img src="<%= artwork.createdBy.avatar || '' %>" alt="" class="img-responsive">
                    <div>
                        <a href=""><%= artwork.createdBy.name %></a>
                        <br>
                        <%= artwork.createdBy.artworks.length %> Artworks 
                    </div>
                </div>
                <div class="pull-right">
                    <span class="price">$<%= artwork.price %></span>
                    <div><i class="fa fa-check"></i> <%= artwork.buyers.length %> Sales</div>
                </div>
            </div>
        </div>  
    </div>
</div>