<div class="col-lg-3 col-sm-6 videoitem">
    <div class="b-video">
        <div class="v-img">
            <a href="/artwork/<%= order.artwork %>/show">
                <img src="<%= order.path %>" alt="" />
            </a>
            <div class="time">Click to view live</div>
        </div>
        <div class="v-desc">
            <a href="/artwork/<%= order._id %>/show"><%= order.title %></a>
        </div> 
        <div class="v-views">
            <div class="for-sale">
                <div class="d-flex shop">
                    <img src="<%= order.artist.avatar || '' %>" alt="" class="img-responsive">
                    <div>
                        <a href=""><%= order.artist.name %></a>
                        <br>
                        <%= order.artist.artworks.length %> Artworks 
                    </div>
                </div>
                <div class="pull-right">
                    <div class="price text-right">$<%= order.price %></div>
                    <div><i class="fa fa-check"></i> <%= moment(order.createdAt).fromNow() %> </div>
                </div>
            </div>
        </div>  
    </div>
</div>