<% bodyClass = "channel" %>

<%- include("../shared/_header.ejs") %>

<%- include("./_artist_top.ejs") %>

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 channels">

                <!-- Featured Videos -->
                <div class="content-block ">
                 
                   
                    <div class="channels-content">
                        <div class="clearfix"></div>
                        <div class="theme-section">
                        <div class="row">
                           <div class="cb-content py-3">
                            <div class="row">

                              <% if(req.isOwner) { %>
                              <div class=" col-lg-3 col-sm-6 videoitem">
                                  <div class="b-video upload-artwork">
                                      <a href="/album/create">
                                          <i class="fa fa-plus"></i>
                                          New Album
                                      </a>
                                  </div>
                              </div>
                              <% } %>

                              <div class="col-lg-3 col-sm-6 col-xs-12 py-3">
                                  <div class="b-playlist">
                                    <div class="v-img">
                                      <% for(let i = 1; i <= 2; i++) { %>
                                        <img src="<%= req.artist.likes[i] ? req.artist.likes[i].path : "/images/empty.jpg"  %>" alt="" class="l-<%= i  %>">
                                      <% } %> 

                                      <a href="/artist/<%= req.artist.email %>/likes"><img src="<%= req.artist.likes[0] ? req.artist.likes[0].path : "/images/empty.jpg" %>" alt="" class="l-3"></a>
                                      <div class="items"><%= req.artist.likes.length  %></div>
                                    </div>
                                    <div class="v-desc text-center">
                                      <a href="/artist/<%= req.artist.email %>/likes">Favorite artworks</a>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-lg-3 col-sm-6 col-xs-12 py-3">
                                  <div class="b-playlist">
                                    <div class="v-img">
                                      <% for(let i = 1; i <= 2; i++) { %>
                                        <img src="<%= req.artist.orders[i] ? req.artist.orders[i].path : "/images/empty.jpg"  %>" alt="" class="l-<%= i  %>">
                                      <% } %> 

                                      <a href="/artist/<%= req.artist.email %>/orders"><img src="<%= req.artist.orders[0] ? req.artist.orders[0].path : "/images/empty.jpg" %>" alt="" class="l-3"></a>
                                      <div class="items"><%= req.artist.orders.length  %></div>
                                    </div>
                                    <div class="v-desc text-center">
                                      <a href="/artist/<%= req.artist.email %>/orders">Purchased artworks</a>
                                    </div>
                                  </div>
                                </div>

                              <% for(const album of albums) { %>
                                <div class="col-lg-3 col-sm-6 col-xs-12 py-3">
                                  <div class="b-playlist">
                                    <div class="v-img">

                                      <% for(let i = 1; i <= 2; i++) { %>
                                        <img src="<%= album.artworks[i] ? album.artworks[i].path : "/images/empty.jpg"  %>" alt="" class="l-<%= i  %>">
                                      <% } %> 

                                      <a href="/album/<%= album._id %>/show"><img src="<%= album.artworks[0] ? album.artworks[0].path : "/images/empty.jpg"  %>" alt="" class="l-3"></a>
                                      <div class="items"><%= album.artworks.length %></div>
                                    </div>
                                    <div class="v-desc text-center">
                                      <a href="/album/<%= album._id %>/show"><%= album.title %></a>
                                    </div>
                                  </div>
                                </div>
                              <% } %>

                            </div>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- /Featured Videos -->

            </div>
        </div>
    </div>
</div>

<%- include("../shared/_footer.ejs") %>
